<ul auto-active>
  <li><a ng-href="#/front" ng-click="scrollToTop()">Home</a></li>
  <li><a ng-href="#/speakers" ng-click="scrollToTop()">Speakers</a></li>
  <li><a ng-href="#/talks" ng-click="scrollToTop()">Talks</a></li>
  <li><a ng-href="#/agenda" ng-click="scrollToTop()">Agenda</a></li>
  <!--<li><a data-scroll-to="page" offset="50" ng-href="#/agenda">Agenda</a></li>-->
  <!--<li><a data-scroll-to="page" offset="50" ng-href="#/agenda">Agenda</a></li>-->
  <!--data-offset-top means offset of the element from window top in px-->
  <!--<li><a scroll-to="page" offset="50" ng-href="#/lectors">Speakers</a></li>-->
  <!--<li><a scroll-to="page" offset="50" ng-href="#/talks">Talks</a></li>-->
  <li><a ng-href="#/registration" ng-click="scrollToTop()">Registration</a></li>
  <li><a ng-href="#/venue" ng-click="scrollToTop()">Venue</a></li>
  <!--<li><a scroll-to="page" offset="50" ng-href="#/testimonials">Testimonials</a></li>-->
  <!--<li><a scroll-to="page" offset="50" ng-href="#/contacts">Contacts</a></li>-->
</ul>
