<ul>
  <li class="active"><a class="scrollup" ng-href="#/">Home</a></li>
  <li><a class="scroll1" data1-offset-top="65" ng-href="#/agenda">Agenda</a></li>
  <!--data-offset-top means offset of the element from window top in px-->
  <li><a class="scroll1" data1-offset-top="60" ng-href="#/lectors">Speakers</a></li>
  <li><a class="scroll1" data1-offset-top="60" ng-href="#/talks">Talks</a></li>
  <li><a class="scroll1" data1-offset-top="55" ng-href="#/venues">Venues</a></li>
  <li><a class="scroll1" data1-offset-top="50" ng-href="#/testimonials">Testimonials</a></li>
  <li><a class="scroll1" data1-offset-top="30" ng-href="#/contacts">Contacts</a></li>
</ul>
