<ul>
  <li class="active"><a ng-href="#/front" ng-click="scrollToTop()">Home</a></li>
  <li><a class="" offset="50" ng-href="#/cfp" ng-click="scrollToTop()">Call For Papers</a></li>
  <!--<li><a class="" data-scroll-to="page" offset="50" ng-href="#/agenda">Agenda</a></li>-->
  <!--<li><a class="" data-scroll-to="page" offset="50" ng-href="#/agenda">Agenda</a></li>-->
  <!--data-offset-top means offset of the element from window top in px-->
  <!--<li><a class="" scroll-to="page" offset="50" ng-href="#/lectors">Speakers</a></li>-->
  <!--<li><a class="" scroll-to="page" offset="50" ng-href="#/talks">Talks</a></li>-->
  <li><a class="" ng-href="#/venue" ng-click="scrollToTop()">Venue</a></li>
  <!--<li><a class="" scroll-to="page" offset="50" ng-href="#/testimonials">Testimonials</a></li>-->
  <!--<li><a class="" scroll-to="page" offset="50" ng-href="#/contacts">Contacts</a></li>-->
</ul>
