<div class="contacts">
  <h3>Social</h3>

  <div class="social-bar">
    <a href="https://twitter.com/gr8conf" class="tooltipped fa fa-twitter" data-placement="top" title="Twitter"></a>
    <a href="https://facebook.com/gr8conf" class="tooltipped fa fa-facebook" data-placement="top" title="Facebook"></a>
    <a href="https://www.linkedin.com/groups/GR8Conf-Europe-4358806" class="tooltipped fa fa-linkedin" data-placement="top" title="LinkedIn"></a>
    <a href="https://plus.google.com/108474567532223839374/posts" class="tooltipped fa fa-google-plus" data-placement="top" title="Google+"></a>
    <a href="https://www.flickr.com/search/?q=gr8conf" class="tooltipped fa fa-flickr" data-placement="top" title="Flickr"></a>
  </div>
  <h5>Mailing list:</h5>
  <!-- Begin MailChimp Subscription Form -->
  <div class="subscribe">
    <!-- Begin MailChimp Signup Form -->
    <form action="//gr8conf.us4.list-manage.com/$subscribe/post?u=ac7af4c02d6cec67fe3198a63&amp;id=a2d8252601" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
      <div style="position: absolute; left: -5000px;"><input type="text" name="b_ac7af4c02d6cec67fe3198a63_a2d8252601" tabindex="-1" value=""></div>
      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-success"></div>
    </form>

    <!--End mc_embed_signup-->
    <!-- End MailChimp Subscription Form -->
  </div>
</div>
