<section class="page-block">
  <div class="container">

    <h1>Call for Papers</h1>

    <p class="lead">
      The GR8Conf Call For Papers is open! Submit your talks <a href="http://cfp.gr8conf.org" target="_blank">here</a>. The CFP site is shared with GR8Conf EU to save you
      time when you want to submit your talks to both conferences.
    </p>
    <p class="text-center">
      <a class="btn btn-lg btn-primary" href="http://cfp.gr8conf.org" target="_blank">Submit your talks!</a>
    </p>

    <h2>The GR8Conf Audience</h2>

    <p>
      Historically, the audience has consisted of a mix of mostly Java and Groovy software developers. While hard to quantify exactly, there has been a sizable contingent of GR8 technology newbies, and a roughly equal
      sized contingent of experienced, practicing developers. Roughly one third have used the technologies, though as their primary technology. It would be GR8 if you could keep this in mind when developing your
      proposals.
    </p>

    <h2>General topic guidelines</h2>

    <p>
      The conference covers technologies in the Groovy ecosystem, such as Grails, Griffon, Spock, GPars, Gradle and many others. Talks should be technical enough that they include code (although not a requirement).
    </p>

    <p>
    The standard time slot for a presentation is 50 minutes.  This year we are interested in allowing for some longer and shorter length slots as well, but that is highly
    dependent on the proposals we get.  Workshop sessions are three to four hours and will be held on July 29th, including time for one 15 minute break.
    </p>

    <p>
      We encourage technical talks, supporting material, and references to provide conference attendees with additional details.
    </p>

    <p>
      Presentations that are little more than product or personal promotion (commercialism), will be rejected. If you want to give a commercial/promotional presentation, contact us about sponsorship. If you are uncertain
      whether or not your presentation will be deemed as commercial, please contact us before submission.
    </p>

    <p>
      We will not reject any proposal a priori as long as it complies with these general guidelines. Preference will be given to those that are aligned with one or more of the topics listed under Conference topics or
      Workshop topics. Preference will also be given to those that submit more than one presentation.
    </p>

    <h2>Conference topics</h2>

    <p>
      Think of the topics below as inspiration for talks. The list is not complete. Your presentation could be on one or more of these areas:
    </p>
    <ul>
      <li>Mobile</li>
      <li>Big data / NoSQL</li>
      <li>Cloud</li>
      <li>Plugins - creating plugins, advanced plugin creation, using specific plugins, useful plugins that developers should know about</li>
      <li>Testing</li>
      <li>Functional Programming</li>
      <li>Real world experiences - these could be 15, 30 or 60 minute presentations on anything significant you have developed, including challenges and unexpected benefits.</li>
      <li>Enterprise - Challenges and successes of integrating GR8 technologies with existing legacy, selling management on GR8 technologies.</li>
    </ul>
    <p>When you submit your talk, please tag your presentation with one or more of these tags, and add your own, if one is missing:</p>
    <ul class="two-columns">
      <li>Groovy</li>
      <li>Grails</li>
      <li>Griffon</li>
      <li>Spring Boot</li>
      <li>Building</li>
      <li>Testing</li>
      <li>Parallelization</li>
      <li>Meta programming</li>
      <li>Frontend</li>
      <li>Backend</li>
      <li>HTML5 / CSS3 / Javascript</li>
      <li>Cloud</li>
      <li>NoSQL</li>
      <li>Mobile</li>
      <li>In production / Use cases</li>
      <li>Security</li>
      <li>Integration</li>
    </ul>
    <h3>University topics</h3>
    <p>
      We will have a number of workshops on the first day of the conference. If you have a subject that would fit into this format, please let us know!
    </p>

    <h2>Admission and travel</h2>

    <p>
      It is important for GR8Conf to keep the cost of travel and lodging to a minimum. Therefore, we hope your company/employer can cover your expenses. We will consider this as a partnership for the conference, and will
      place your company in the partnership program accordingly.
    </p>

    <h4>All speakers will receive:</h4>

    <ul>
      <li>Complimentary pass to GR8Conf</li>
      <li>Free speakers dinner</li>
      <li>Up to three nights of stay at the hotel picked by the organizers.</li>
      <li>To keep budget manageable we ask that speakers be as flexible as possible with flights and airlines. Travel expenses from outside of the United States will be determined on a case by case basis.
      </li>
    </ul>

    <h2>Presentation information</h2>

    <p>
      Presentation materials do not need to be provided or approved prior to speaking. However it would be appreciated if we can make the material available prior to to the conference. It will be distributed via a GR8Conf github repo.
    </p>

    <p>
      We ask, that a copy of the slidedeck is made available to the crew after the presentation, so that we can publish it online (Slideshare or alike)
    </p>

    <p>
      All presentations are subject to being recorded and made available to the public without further remuneration to the presenter. Do not include any proprietary material that cannot meet this requirement.
    </p>

    <h2>GR8Conf interview on the Groovy Podcast</h2>

    <p>GR8Conf is working together with the Groovy Podcast, who will do a series of interviews with our speakers (that means you). Therefore we will share your name and email address with the Grails Podcast crew, in
      order for them to do contact you, for an interview prior to the conference. This is a great opportunity for you to promote your talk, your favorite technology and of course GR8Conf.
    </p>

    <h2>Notes on submitting a presentation</h2>

    <p>
      When submitting a presentation for consideration, it is important that you provide all requested information. The contact information you provide with your submission will be used for all future correspondence and
      should reflect a location where you can be reached throughout the conference planning period. Please notify us if your contact information changes. We will notify applicants of acceptance, using the information
      provided, according to the schedule above.
    </p>

    <h2>Questions?</h2>

    <p>If you have any questions, contact <a href="mailto:contact@gr8conf.us">contact@gr8conf.us</a></p>
  </div>
</section>
