<section class="page-block space-bottom" ng-controller="VenueCtrl">
  <div class="container">

  <h1>Venue</h1>

  <p class="">
  University of St. Thomas<br/>
  Schulze Hall<br />
  46 S 11th St<br />
  Minneapolis, MN 55403<br />
  </p>

  </div>
  <div class="container-fluid venue-map">
    <mapclick class="">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2822.492801173064!2d-93.27761839999997!3d44.9742993!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x52b332944c4be609%3A0xb98e7bf839108fa1!2sSchulze+Hall%2C+University+of+St.+Thomas+-+Minneapolis+Campus%2C+46+S+11th+St%2C+Minneapolis%2C+MN+55403!5e0!3m2!1sen!2sus!4v1419827873469" 
      width="100%" height="300" frameborder="0" style="border:0"></iframe>
    </mapclick>
  </div>
</section>
