.venue-map {
  height: 300px;
  padding: 0;

  .map {
    &.embed-container {
      position: relative;
      #map-notice {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 20px;
        background-color: rgba(0, 0, 0, .50);
        color: #ccc;
        padding: 8px;
      }
      .map-overlay {
        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 9999;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }

  }
}

.hero-static {
  &.event-eu {
    background-image: url('../images/eu/event.jpg');
  }
}

.two-columns {
  -webkit-column-count: 3; /* Chrome, Safari, Opera */
  -moz-column-count: 3; /* Firefox */
  column-count: 3;
}

@media @mobile-port {
  .two-columns {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
  }

}

.technologies {
  margin-top: 20px;
  ul[rn-carousel] {
    width: 150px;
    height: 180px;
    margin: 0 auto;
    li {
      width: 100%;
      height: 100%;
      font-size: 20px;
      color: white;
      img {
        margin-left: 12px;
        width: 125px;
        height: 125px;
      }
    }
  }
}



