<section class="page-block">
  <div class="container">

    <h1>Welcome to GR8Conf EU 2015</h1>

    <p class="lead">
      Groovy, Grails and the related technologies have seen astounding growth in interest and adoption the past few years, and with good reason. To spread the word even more we have created GR8Conf.
    </p>
    <p class="text-center">
      <img src="/images/eu/technologies.png"/>
    </p>

    <p>
      GR8Conf is an independent, affordable series of conferences in Denmark and the US. It's
      dedicated to the technologies in the Groovy ecosystem.
    </p>

    <p>
      We feed the brains of attendees with all the important stuff from the Groovy and Grails community.
    </p>

    <p>
      We have in-depth talks covering all major technologies in the Groovy ecosystem. All talks are performed by the brightest minds and core developers in their fields.
    </p>

    <p>
      Some of the technologies covered are Groovy, Grails, Gradle, Spock, GMetrics, GContracts, Griffon and many many more.
    </p>
  </div>
</section>
