<section class="catalog-grid type-1 space-bottom">
  <!--Catalog Grid Type 1-->
  <div class="container">
    <div class="row">
      <!--Item-->
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <span class="badge sale">Doorbuster!</span>
          <a class="thumb"target="_blank" ng-href="{{registrationUrl}}">
            <span class="overlay"></span>
            <img src="images/eu/doorbuster-ticket.png" alt="ticket"/>

            <div class="description">
              <h3>Doorbuster</h3>

              <p>Get an additional 25% off the EarlyBird price!</p>

              <p><strong>Only 20 doorbuster tickets available!</strong></p>

              <p><strong>Use discount code:</strong></p>
              <h3>DOORBUSTER</h3>
            </div>
          </a>

          <footer>
            <div class="info">
              <h3>Doorbuster</h3>

              <p>Uni: €217.50 / Conf: €322.50</p>
              <span class="price">€540</span>
            </div>
            <div class="tools">
              <a class="add-cart"target="_blank" ng-href="{{registrationUrl}}">Register</a>
            </div>
          </footer>
        </div>
      </div>
      <!-- Optional: clear the SM cols if their content doesn't match in height -->
      <div class="clearfix visible-sm-block"></div>
      <!--Item-->
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <span class="badge sale">Early-Bird!</span>
          <a class="thumb"target="_blank" ng-href="{{registrationUrl}}">
            <span class="overlay"></span>
            <img src="images/eu/earlybird-ticket.png" alt="ticket"/>

            <div class="description">
              <h3>Early-Bird</h3>

              <p>Early-Birds gets the better price!</p>

              <p>You get a <strong>35% discount </strong>if you register before April 15th!</p>
              <p>The Early-Bird discount is automatically applied</p>
            </div>
          </a>

          <footer>
            <div class="info">
              <h3>Early-Bird</h3>

              <p>Uni: €290.00 / Conf: €430.00</p>
              <span class="price">€720</span>
            </div>
            <div class="tools">
              <a class="add-cart"target="_blank" ng-href="{{registrationUrl}}">Register</a>
            </div>
          </footer>
        </div>
      </div>

      <!-- Optional: clear the SM cols if their content doesn't match in height -->
      <div class="clearfix visible-sm-block"></div>

      <!--Item-->
      <div class="col-md-4 col-sm-6">
        <div class="item">
          <span class="badge regular">Regular</span>
          <a class="thumb"target="_blank" ng-href="{{registrationUrl}}">
            <span class="overlay"></span>
            <img src="images/eu/regular-ticket.png" alt="ticket"/>

            <div class="description">
              <h3>Regular price</h3>

              <p>From April 16th through May 15th regular prices apply.</p>
            </div>
          </a>

          <footer>
            <div class="info">
              <h3>Regular</h3>

              <p>Uni: €435.00 / Conf: €655.00</p>
              <span class="price">€1090</span>
            </div>
            <div class="tools">
              <a class="add-cart"target="_blank" ng-href="{{registrationUrl}}">Register</a>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p class="small small-print">The small print:</p>

        <p class="small small-print">Prices here are in Euros, but the ticket system handles prices in Danish Kroner (DKK). We use an exchange rate
          of 1€ = 7.50DKK.</p>

        <p class="small small-print">If your company is from Denmark, VAT (Danish: Moms) is added. If you company is registred withing the EU and has a valid
          VAT number, Danish VAT will not be added, instead "reverse charge" is applied. If you or your company is not registred in the EU, VAT will
          be added. If your company is outside the EU, no VAT will be added.</p>
        <p class="small small-print">We use <a href="http://flexbillet.dk" target="_blank">Flexbillet</a> as our ticket broker. If you or your company is not be able to register and pay by
        credit card, we have other options available. Please contact registration@gr8conf.org for more information.</p>
      </div>
    </div>
  </div>
</section>
