<section class="page-block space-bottom" ng-controller="VenueCtrl">
  <div class="container">

  <h1>Venue</h1>

    <p class="">IT-University<br/>
      Rued Langgards Vej 7<br/>
      DK-2300 Copenhagen S<br/>
      Denmark</p>

  </div>
  <div class="container-fluid venue-map">
    <mapclick class="">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d18013.687016509182!2d12.606096301696793!3d55.641843741511344!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46525345017412b3%3A0xa280a05485937e38!2sIT-Universitetet+i+K%C3%B8benhavn!5e0!3m2!1sda!2sus!4v1417406924864"
        width="100%" height="300" frameborder="0" style="border:0"></iframe>
    </mapclick>
  </div>
</section>
