<p>
  NineConsult is a Consulting company based in the heart of Copenhagen with ~60 dedicated consultants focusing on
  developing business-critical applications using Groovy and Grails but also classic Java.
</p>

<p>
  Our focus is within the Public, Finance and Transportation sector and our project references includes several
  high profile projects within Self Service in the public sector and Mission critical solutions within Finance and
  Transportation.
</p>

<p>
  All our consultants are highly skilled and have demonstrated throughout their career that they belong to the
  exclusive group of team members who are critical for a project to succeed. We believe that a combination of
  profound technical knowledge and a good understanding of the customers business is the key to an outstanding
  performance.
</p>
