<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-sm-8">
      <h1 class="bold-weight">GR8Conf US</h1>
      <h2 class="light-weight">
        July 29-31, 2015<br/>Minneapolis<small>, MN</small>
      </h2>
        </div>
        <div class="col-sm-4" ng-include="technologiesUrl">

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <p>We feed your brain with all the <strong>important </strong>stuff from the <strong>Groovy</strong> and <strong>Grails</strong> community.</p>

      <p>We have <strong>in-depth talks</strong> covering all <strong>major technologies</strong> in the Groovy ecosystem.
        All talks are performed by the <strong>brightest minds</strong> and <strong>core developers</strong> in their fields.
      </p>
    </div>
  </div>
</div>
